{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":5,"column":0},"end":{"row":5,"column":13},"action":"remove","lines":["Django==2.0.2"],"id":2},{"start":{"row":4,"column":15},"end":{"row":5,"column":0},"action":"remove","lines":["",""]}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":29,"column":17},"end":{"row":29,"column":17},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1574370905698,"hash":"af56dc8eb3adba5e7beb5a001c2e24eba81a2753"}