.container .row {
    margin-left: auto;
    margin-right: auto;
}

.row .col.s9 {
    margin-left: 0;
}

/*buttons*/

.btn_small {
    height: 24px;
    width: 60px;
    line-height: 24px;
    margin: 5px 5px;
    padding: 0 0.5em;
}

.delete_rec_btn {
    margin-top: 5px;
}

.btn-remove {
    width: 80px;
}

.recipe_buttons {
    margin-bottom: 30px;
}

.edit-btn {
    text-align: right;
}

.add_can_btns {
    text-align: center;
    margin-top: 20px;
}


/* Modal */

.modal {
    height: 200px;
    width: 400px;
}

.modal-footer {
    text-align: center;
}


/* Headers */

.item_header {
    margin-top: 5px;
    font-size: 20px;
    margin-left: 0;
}

.recipe_header {
    font-size: 20px;
    margin-left: 0;
}

.fullrec_header {
    margin-top: 30px;
    margin-bottom: 30px;
}

#shopping-header {
    text-align: center;
}

.type_headers {
    margin: 0 auto;
    color: white;
}

/*Images*/

.recipe_img {
    height: 200px;
    width: 240px;
    border-radius: 25px;
}

.img_resize {
    width:50%;
    height: auto;
    border-radius: 12%;
}

.brt_img {
    background-image: url("img/full_english.jpg") ; 
    background-position: center;
    background-size: cover;
}

.mmrt_img {
    background-image: url("img/dinner.jpg") ;
    background-position: center;
    background-size: cover; 
}

.drt_img {
    background-image: url("img/dessert.jpg") ;
    background-position: center;
    background-size: cover; 
}

.srt_img {
    background-image: url("img/snacks.jpg") ;
    background-position: center;
    background-size: cover; 
}

.brt_img, .mmrt_img, .drt_img, .srt_img {
    height: 300px;
    width: 240px;
    border-radius: 25px;
    border: 3px black;
}

#veggie {
    height:30px;
    width: auto;
}

.header-back {
    border-radius: 25px;
    width: 100%;
    height: 95%;
    background: rgba(97, 82, 82, 0.5);
    
}

/*-------------------------------------------*/

.bot_marg {
    margin-bottom: 30px;
}

#main-nav {
    font-size: 24px;
}

#prep_para {
    margin-top: 0;
}

.back_icon {
    font-size: 60px;
    margin-top: 30px;
    color: #242222;
}

.menu-icon {
    margin-top:20px;
}

.back_icon:hover {
    color: #2196F3;
}

.nav-links {
    text-align: center !important;
}

#home-icon {
    font-size: 60px;
}

.text-white {
    color: white;
}


/* Image Carousel 

.carousel-wrapper{
  height:400px;
  position:relative;
  width:800px;
  margin:0 auto;
}
.carousel-item{
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  padding:25px 50px;
  opacity:0;
  transition: all 0.5s ease-in-out;
}
.arrow{
  border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 12px;
}

.arrow-prev{
  left:-30px;
  position:absolute;
  top:50%;
  transform:translateY(-50%) rotate(135deg);
}
 
.arrow-next{
    right:-30px;
  position:absolute;
  top:50%;
  transform:translateY(-50%) rotate(-45deg);
  }

.light{
  color:white;
}

@media (max-width: 480px) {
      .arrow, .light .arrow {
        background-size: 10px;
        background-position: 10px 50%;
      }
    }
}

/* Select every element
[id^="item"] {
    display: none;
  }

.item-1 {
    z-index: 2;
    opacity: 1;
  background:url('https://static.pexels.com/photos/6526/sea-beach-holiday-vacation-large.jpg');
  background-size:cover;
  }
.item-2{
  background:url('https://static.pexels.com/photos/6506/alcohol-bar-drinks-party-large.jpg');
   background-size:cover;
}
.item-3{
  background:url('https://static.pexels.com/photos/6529/lake-kajak-kayak-large.jpg');
   background-size:cover;
}

*:target ~ .item-1 {
    opacity: 0;
  }

#item-1:target ~ .item-1 {
    opacity: 1;
  }

#item-2:target ~ .item-2, #item-3:target ~ .item-3 {
    z-index: 3;
    opacity: 1;
  }
} */




/* Media Queries */
@media (min-width:320px)  { 
    .modal {
    height: 200px;
    width: 300px;
    } 

    .mob_mar_bot {
        margin-bottom: 20px;
    }

    .mobile_header {
        font-size: 1.5em;
    }
    /* smartphones, iPhone, portrait 480x320 phones */
    }

@media (min-width:481px)  { 
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
    }

@media (min-width:641px)  { 
    .modal {
    height: 200px;
    width: 400px;
    }

    .mob_mar_bot {
        margin-bottom: 20px;
    }

    .mobile_header {
        font-size: 2em;
    }
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
    }

@media (min-width:961px)  { 
    /* tablet, landscape iPad, lo-res laptops ands desktops */ 
    }

@media (min-width:1025px) { 
    /* big landscape tablets, laptops, and desktops */ 
    }

@media (min-width:1281px) { 
    /* hi-res laptops and desktops */ 
    }