<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>myCookbook</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Materialize css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" type="text/css" />
    
</head>
<body>

    
        
    <a href="#" data-target="slide-out" class="sidenav-trigger show-on-large btn-floating btn-large menu-icon teal lighten-2" style="margin-left: 20px;"><i class="material-icons" style="">menu</i></a>
         
    

    <ul id="slide-out" class="sidenav">
        <li><a href="{{ url_for('home') }}"><i class="left material-icons">home</i>Home</a></li>
        <li><a href="{{ url_for('get_shopping') }}"><i class="left material-icons">add_shopping_cart</i>Shopping list</a></li>
        <li><a href="{{ url_for('get_recipes') }}"><i class="left material-icons">menu_book</i>myCookbook</a></li>
    </ul>


    {% block content %}
    {% endblock %}
    
    <!--Scripts-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.collapsible').collapsible();
            $('select').material_select();
        });

        $(document).ready(function(){
            $('.sidenav').sidenav();
        });

        $(document).ready(function(){
            $('select').formSelect();
        });

        $('.dropdown-trigger').dropdown();

        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.sidenav');
            var instances = M.Sidenav.init(elems, options);
        });
  </script>
  
</body>
</html>