{% extends 'base.html'%} {% block content %}

<div class="container">
    
    <div class="row">
        <h2 class="fullrec_header center">{{ recipe.recipe_name }}</h2>
    </div>
    <div class="row">
        <div class="center col s6">
            <img class="img_resize" src="{{ recipe.image }}"></img>
        </div>
        <div class="col s6">
            <p>{{ recipe.recipe_desc }}</p>
        </div>
    </div>
    <div class="divider"></div>
    <div class="row">
        <div class="col s6">
            <h4 class="center">Ingredients</h4><br>
            <p>{{ recipe.ingredients }}</p>
            <a href="{url_for('get_shopping')}" class="waves-effect waves-light btn blue">Go to shopping list</a>
        </div>
        <div class="col s6">
            <h4 class="center">Method</h4>
            <p>{{ recipe.method }}</p>
        </div>
    </div>
    <div class="row recipe_buttons">
        <div class="center col s12">
             <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="waves-effect waves-light btn btn_small blue">Edit</a>
             <a href="{{ url_for('get_recipes') }}" class="waves-effect waves-light btn btn_small blue">Back</a>
        </div>
    </div>
    
    
</div>

{% endblock %}