{% extends 'base.html'%} {% block content %}
<div class="container">
    <h2 id="shopping-header">Welcome to myCookbook</h2>
    <div class="row">
        <div class="col s12 l8">
            <p>
			myCookbook is an online resource to create your own personalised cookbook. No more folding page corners on recipe books
			or bookmarking webpages, simply input the recipe into myCookbook and store all your favourite recipes and meals in one
			place.
			</p>
            <br>
        </div>
        <div class="col s12 l4">
            <h4>Get inspired!</h4>
            <ul>
                <li><a href="https://www.bbc.co.uk/food/recipes" target="_blank"> BBC Goodfood</a></li>
                <li><a href="https://www.deliaonline.com/recipes" target="_blank"> Delia Online</a></li>
                <li><a href="http://allrecipes.co.uk/recipes/" target="_blank"> Allrecipes</a></li>
                <li><a href="https://www.jamieoliver.com/recipes/" target="_blank"> Jamie Oliver</a></li>
                <li><a href="https://theinspiredhome.com/categories/food-drink" target="_blank"> The Inspired Home</a></li>
                <li><a href="https://www.deliciousmagazine.co.uk/recipes/" target="_blank">Delicious. magazine</a></li>
                <li><a href="https://www.goodtoknow.co.uk/all-recipes" target="_blank">Good to know recipes</a></li>
            </ul>
        </div>
    </div>
   <!-- <div class="row">
        
        <div class="col s12">
            


<div class="carousel-wrapper">
  <span id="item-1"></span>
  <span id="item-2"></span>
  <span id="item-3"></span>
  <div class="carousel-item item-1">
    <a class="arrow arrow-prev" href="#item-3"></a>
    <a class="arrow arrow-next" href="#item-2"></a>
  </div>
  
  <div class="carousel-item item-2">
    <a class="arrow arrow-prev" href="#item-1"></a>
    <a class="arrow arrow-next" href="#item-3"></a>
  </div>
  
  <div class="carousel-item item-3">
    <a class="arrow arrow-prev" href="#item-2"></a>
    <a class="arrow arrow-next" href="#item-1"></a>
  </div>
</div>


        
        </div>
    </div> -->
</div>

  <script type="text/javascript">

    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.carousel');
        var instances = M.Carousel.init(elems, options);
    });

    $(document).ready(function(){
        $('.carousel').carousel();
    });

    $('.carousel.carousel-slider').carousel({
    fullWidth: true,
    indicators: true
    });

  </script>

{% endblock %}