{% extends 'base.html'%} {% block content %}
<div class="container">
    <h2 id="shopping-header">Your Cookbook</h2>
    <a href="{{ url_for('add_recipe') }}" class="waves-effect waves-light btn  blue">Add a Recipe</a>

    <!--Filter trigger-->
    <a href="#" class="waves-effect waves-light btn dropdown-trigger right" data-target="filter_options">Filter</a>

    <!--Filter Options-->
    <ul id="filter_options" class="dropdown-content">
    <li><a href="#!">Breakfast</a></li>
    <li><a href="#!">Mains</a></li>
    <li><a href="#!">Desserts</a></li>
    <li><a href="#!">Snacks</a></li>
    <li class="divider" tabindex="-1"></li>
    <li><a href="#!">Vegetarian</a></li>
    <li><a href="#!">&lt;30 minutes</a></li>
    
    </ul>

    <ul class="collapsible" data-collapsible="accordion">
            {% for r in recipe %}
            <li>
                <div class="row collapsible-header">
                    
                    <div class="col s12 recipe_header">
                        <strong>{{ r.recipe_name }}</strong>
                    </div>
                    
                    
                </div>
                <div class="row collapsible-body">
                
                <div class="col s12 m6 l3">
                    <img src="{{ r.image }}" class="recipe_img"></img>
                </div>
                <div class="col s12 m6 l6 (offset-by-l3)">
                    <span>
                    {{r.recipe_desc}} 
                </span>
                </div>
                <div class="center col s12 m12 l3">

                        <p><strong>{{ r.category }}</strong></p>
                        <p id="prep_para"><strong>Prep time:</strong> {{r.prep_time}}</p>
                        <p><strong>Cook time:</strong> {{r.cook_time}}</p>
                        <p>
                        
                            {% if r.is_vegetarian %}
                                <img src="{{ url_for('static', filename='img/veggie.jpg') }}" id="veggie">
                            {% endif %}
                        
                        </p>
                        <a href="{{ url_for('get_full_recipe', recipe_id=r._id) }}" class="waves-effect waves-light btn blue">See full recipe</a>
                        
                    
                </div>
                
                
                </div>
            </li>
            {% endfor %}
        </ul>
</div>
{% endblock %}