{% extends 'base.html'%} {% block content %}
<div class="container">
    <h2 id="shopping-header">Your Cookbook</h2>
    <a href="#" class="waves-effect waves-light btn  blue">Add a Recipe</a>
    <ul class="collapsible" data-collapsible="accordion">
            {% for r in recipe %}
            <li>
                <div class="collapsible-header">
                    <div class="col s3">
                       
                        <a href="#" class="waves-effect waves-light btn btn_small">Edit</a>
                        
                        
                    </div>
                    <div class="item_header col s3">
                        <strong>{{recipe.recipe_name}}</strong>
                    </div>
                    
                </div>
                <div class="collapsible-body">
                <div class="col s12">
                    <span>
                    {{recipe.recipe_desc}} 
                </span>
                </div>
                <div class="col s12 edit-btn">
                        <a href="{{ url_for('edit_item', item_id=item._id) }}" class="waves-effect waves-light btn btn_small blue">Edit</a>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
</div>
{% endblock %}