{% extends 'base.html'%} {% block content %}
<div class="container">
    <h2 id="shopping-header">Your Cookbook</h2>
    <a href="#" class="waves-effect waves-light btn  blue">Add a Recipe</a>
    <ul class="collapsible" data-collapsible="accordion">
            {% for r in recipe %}
            <li>
                <div class="row collapsible-header">
                    
                    <div class="col s9 recipe_header">
                        <strong>{{ r.recipe_name }}</strong>
                    </div>
                    <div class="s3">
                        <img src="{{ r.image }}" class="recipe_img"></img>
                    </div>
                    
                </div>
                <div class="collapsible-body">
                <div class="col s12">
                    <span>
                    {{r.recipe_desc}} 
                </span>
                </div>
                <div class="col s12 edit-btn">
                        <a href="{{ url_for('get_full_recipe') }}" class="waves-effect waves-light btn blue">See full recipe</a>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
</div>
{% endblock %}